    <div id="todoapp">
        <h1>Credits</h1>
        <div class="content">
        <p>
            written by <a href="http://cburgdorf.wordpress.com/">Christoph Burgdorf</a>
        </p>
        <p>
            This example has been written with <a href="http://angularjs.org">AngularJS </a> and uses *experimential* Rx bindings.
            
            Feel free to fork the code and play a little! Find it here at
            <a href="https://github.com/cburgdorf/Angular-Wikipedia-App"> my github repository</a>
        </p>
        <p>
             Ah and one more thing, I also put the <a href="#/credits">credits</a> here to show that routing is build in and
             really is a breeze.
        </p>
    </div>