    <div id="todoapp">
        <div class="title">
            <h1>
                Search Wikipedia
            </h1>
        </div>
        <div class="content">
            <div id="todo-form">
            </div>
            <form id="todo-form">
                <input id="new-todo" name="searchTerm" placeholder="Type to search" type="text">
            </form>
            <div id="todos">
                <ul id="todo-list">
                  <li class="todo" ng:repeat="line in searchResults">
                    <div class="display">
                      <div class="todo-content"> {{ line }} </div>
                   </div>
                  </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="credits">
        <p>
            written by
            <br>
            <a href="http://cburgdorf.wordpress.com/">Christoph Burgdorf</a>
        </p>
        <p>
            This example has been written with <a href="http://angularjs.org">AngularJS </a> and uses *experimential* Rx bindings.
            
            Feel free to fork the code and play a little! Find it here at
            <a href="https://github.com/cburgdorf/Angular-Wikipedia-App"> my github repository</a>
        </p>
        <p>
         Ah and one more thing, I also put the <a href="#/credits">credits</a> here to show that routing is build in and
         really is a breeze.
        </p>
    </div>